<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>Lakhaan Releases</title>
    <link>https://github.com/tushal-pethani/lakhaan/releases</link>
    <description>Lakhaan GST Invoice Generator releases</description>
    <language>en</language>
    <item>
      <title>Version {{VERSION}}</title>
      <link>https://github.com/tushal-pethani/lakhaan/releases/tag/v{{VERSION}}</link>
      <pubDate>{{DATE}}</pubDate>
      <sparkle:version>{{VERSION}}</sparkle:version>
      <sparkle:minSystemVersion>10.13</sparkle:minSystemVersion>
      <enclosure url="https://github.com/tushal-pethani/lakhaan/releases/download/v{{VERSION}}/Lakhaan-{{VERSION}}.dmg" sparkle:version="{{VERSION}}" sparkle:os="macos" type="application/octet-stream" length="50000000"/>
    </item>
  </channel>
</rss>
